
body {
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-weight: 400;
}

span {
    color: #4BCAFF;
}

.logo {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 40px;
}

.page-title {
    margin-bottom: 48px;
}

.intro-navigation {
    display: flex;
    background-color:#35444F;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 69px;
}

.intro-navigation-link {
    text-decoration: none;
    color:#fff;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 25px 40px;
    box-sizing: border-box;
}

.intro-navigation-link:hover {
    background-color: #4BCAFF;
    color: black;
}

.page-side-bar {
    display: flex;
    justify-content: space-between;
}

.side-bar-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 345px;
    border: 1px solid black;
}

.side-bar-link {
    display: flex;
    color: #495863;
    text-decoration: none;
    width: 345px;
    font-size: 27px;
    line-height:27px;
    padding: 27px 0 27px 40px;
}

.side-bar-link:hover {
    background-color: #4BCAFF;
    color: black;
}

.page-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 879px;
    height: 530px;
    border: 1px solid black;
    margin-bottom: 37px;
    margin-left: 52px;
}

.page-text {
    margin-left: 52px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

.first-paragraph {
    margin-bottom: 34px;
}

.outro {
    display: flex;
    justify-content: space-around;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 54px;
}

.outro-navigation {
    display: flex;
    gap: 20px;
    list-style: none;
}

.outro-navigation-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color:#0C1927;
}

.outro-navigation-link:hover {
    padding-bottom: 13px;
    color: #3181a6;
    border-bottom: 1px solid #3181a6;  
}

.coperight {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
}